{% extends "header.html" %}
{% block content %}
<br>
<br>
<br>
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>{% block title %} know  {% endblock %}</title>
<style type="text/css">


</style>
</head>
<body>


&emsp; &emsp;&emsp; &emsp;<h1>  Famous brands</h1>
&emsp; &emsp;&emsp; &emsp;&emsp; &emsp;&emsp; &emsp;<img src="../static/image/chanel.jpg" alt="chanel" class="img-thumbnail" width="300px " height="300px"> &emsp; &emsp;&emsp; &emsp;&emsp; &emsp;&emsp; &emsp;
<img src="../static/image/ysl.jpg" alt="ysl" class="img-thumbnail" width="300px " height=280px">
<br> &emsp;&emsp; &emsp;&emsp; &emsp;&emsp; &emsp;&emsp;&emsp;&emsp; &emsp; &emsp;&emsp;&emsp;<a href="https://www.chanel.com/"></a><input type=button value="Chanel">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a href="https://www.yslbeauty.co.uk/"></a><input type=button value="YSL" >
<br><br>
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<img src="../static/image/lancome.jpg" alt="lancome" class="img-thumbnail" width="300px" height="300px">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
<img src="../static/image/armani.jpg" alt="armani" class="img-thumbnail" width="300px" height="300px">
<br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a href="https://www.lancome.co.uk/"></a><input type=button value="Lancome">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a href="https://www.armanibeauty.co.uk/"></a><input type=button value="Armani" >
<br><br>
        <h1>Cosmetics</h1>

	<h2>SKINCARE</h2><p align="right" style="font-size: 25px">Enhance your complexion with BB Creams and CC Creams. <br>Especially formulated to prime, hydrate and conceal imperfections, <br>our BB creams brighten the skin for a healthy looking glow.<br> Our colour correcting creams help to even the look of skin tone irregularities whilst<br> minimising the appearance of pores and blemishes to enhance the skin's natural radiant look.</p>
        <p>bb&cc &emsp;&emsp;&emsp;moisturisers</p>
        <img src="../static/image/bb.png" width="51px" height="68px">&emsp;&emsp;&emsp;
<img src="../static/image/cc.png" width="51px" height="68px">
<h2>COMPLEXTION</h2><p align="right"style="font-size: 25px">From highlighting concealers to smoothing foundations, <br>add instant radiance to your complexion with the perfecting face makeup collection by YSL.<br> Disguise dark circles with a sweep of Touche Éclat, <br>achieve a luminous, <br。dewy complexion with lightweight foundations and add a subtle glow with elegant blush palettes.</p>
<p>foundation &emsp;&emsp;&emsp;&emsp;primer</p>
<img src="../static/image/11.png" width="51px" height="68px">&emsp;&emsp;&emsp;
<img src="../static/image/22.png" width="51px" height="68px">&emsp;&emsp;&emsp;
<img src="../static/image/33.png" width="51px" height="68px">
<p>highlighter&emsp;&emsp;&emsp;bluser</p>
<img src="../static/image/44.png" width="51px" height="68px">&emsp;&emsp;&emsp;
<img src="../static/image/55.png" width="51px" height="68px">
        <h2>LIPS</h2>
<p>lipsticks</p><p align="right"style="font-size: 25px"> Line, fill and perfect your pout with the lip collection.<br> Includes lipsticks, lip glosses, liquid lipsticks, <br>lip stains and lip liners.</p>

<img src="../static/image/77.png" width="51px" height="68px">&emsp;&emsp;&emsp;
<img src="../static/image/66.png" width="51px" height="68px">
        <h2>EYES</h2>
<p>eyeshadow&emsp;&emsp;&emsp;</p><p align="right"style="font-size: 25px">From bright and bold to natural and nude, <br>define your eyes with the luxurious eye makeup collection.<br> Discover the Couture Kajal liner and greyscale Couture Palette <br>to create the perfect smokey eye, or stay neutral with a sweep of uplifting and<br> lengthening False Lash Effect mascara. Ensure your eye makeup <br>lasts all day by locking it in place with YSL Couture Eye Primer</p>
<img src="../static/image/99.png" width="51px" height="68px">&emsp;&emsp;&emsp;
<img src="../static/image/1010.png" width="51px" height="68px">
<br>
<a class='btn btn-primary ' href="/">return home </a>

</body>
</html>
{% endblock %}
