{% extends "header.html" %}
{% block content %}
<br>
<br>
<br>
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>{% block title %} learn  {% endblock %}</title>
 <style type="text/css">
     .to_right {
            width: 0;
            height: 0;
            border-left: 30px solid greenyellow;
            border-top: 30px solid transparent;
            border-bottom: 30px solid transparent;
        }
 </style>

</head>
<body>


<h1>  Basic makeup steps</h1>
<img src="../static/image/s1.jpg" width="200px" height="140px">&emsp;<img src="../static/image/s2.jpg" width="200px" height="140px">
&emsp;<img src="../static/image/s3.jpg" width="200px" height="140px">&emsp;<img src="../static/image/s4.jpg" width="200px" height="140px">
&emsp;<img src="../static/image/s5.jpg" width="200px" height="140px">&emsp;<img src="../static/image/s6.jpg" width="200px" height="140px">
&emsp;<img src="../static/image/s7.jpg" width="200px" height="140px">&emsp;<img src="../static/image/s8.jpg" width="200px" height="140px">
&emsp;<img src="../static/image/s9.jpg" width="200px" height="140px">&emsp;<img src="../static/image/s10.jpg" width="200px" height="140px">
&emsp;<img src="../static/image/s11.jpg" width="200px" height="140px">&emsp;<img src="../static/image/s12.jpg" width="200px" height="140px">
&emsp;<img src="../static/image/s13.jpg" width="200px" height="140px">&emsp;<img src="../static/image/finish.jpg" width="200px" height="140px">
&emsp;<img src="../static/image/end.JPG" width="200px" height="140px">
<p style="font-size: 20px">1.Before you begin applying your makeup, take the time to prep your skin with a high-quality moisturizer. Choosing the right kind of moisturizer is a crucial piece of the puzzle.</p>
<p style="font-size: 20px">2.Now that your skin is well moisturized, prep your face with primer. Whether you’re planning on applying a light coat of foundation or a full face of makeup, primer is an important first step. Using primer under your makeup will make your look last longer.</p>
<p style="font-size: 20px">3.When it comes to foundation, finding the perfect shade for your skin is priority number one. The right shade of foundation can make all the difference. So how do you go about picking? Test foundation colors against your jawline. After applying, if the foundation disappears without any sort of blending, you’ve found your true match. This may take a bit of trial and error, but taking the time to pick the right shade is crucial.</p>
<p style="font-size: 20px">4.Liquid concealer is best for the times you want light coverage over a large area of your face. Liquid concealer also works well for those looking to create a light finish, especially in areas of wrinkles, like around the eyes and mouth.</p>
<p style="font-size: 20px">5.Applying foundation powder can be a tricky process; too little and you may as well have skipped the step altogether, too much and you’ll be sporting the dreaded “cake look”. In your quest for a flawless complexion, you’ve likely heard plenty of tricks of the trade regarding powder foundation. Keep these tips in mind to get that perfect complexion.</p>
<p style="font-size: 20px">6.Bronzer can give your skin that sun-kissed glow all year long. Use a dedicated bronzer brush to sweep a golden tan across your face; bronzer brushes are crafted with more bristles, and placed much more tightly together, ensuring you get the most out of your colorful bronzer with each and every swipe.</p>
<p style="font-size: 20px">7.Flushed cheeks have been a mainstay of makeup glamour for centuries. If you want to add a bit more color and vibrancy to your complexion, blush may be the key. Use a dense brush with plenty of bristles to apply your blush—this will make sure you get the most out of every blush sweep.</p>
<p style="font-size: 20px">8.The right highlighter adds a bit of glam and glow to every makeup look. Whether you’re opting for a more natural look or want something bold and beautiful, highlighter can complement your makeup application.</p>
<p style="font-size: 20px">9.Eyeshadow can add interest to your makeup look, whether you opt for neutral shades or go bold with colorful hues. Whichever look you use, grab two complementary eyeshadows: one lighter shade, and one darker shade.</p>
<p style="font-size: 20px">10.Applying eyeliner can be difficult—one little mistake and you’re stuck with “raccoon” eyes. Banish your eye makeup woes with these essential tips for applying eyeliner.</p>
<p style="font-size: 20px">11.If you’re going to use only one makeup product, mascara should be at the top of your list. A few swipes of mascara can make your eyes look brighter in a single step.</p>
<p style="font-size: 20px">12.Before applying gloss, prep your lips. If your lips are chapped and cracked, be sure to use a gentle lip scrub to remove any dead skin. Next, use a lip conditioner or moisturizer to soften the lips further. After your lip balm has absorbed, blot any excess.</p>
<p style="font-size: 20px" >13.Setting spray or setting powder can be the final touch for your makeup routine. If you want makeup that stays on all day long, without greasing, creasing, or shine, it’s important to invest in a quality setting solution.</p>
<h1>Tutorials</h1>
&emsp;&emsp;<iframe width="400" height="294" src="https://www.youtube.com/embed/d8bct2_ix4U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<iframe width="400" height="294" src="https://www.youtube.com/embed/PGllxGJZgXo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br><br><br>
&emsp;&emsp;<iframe width="400" height="294" src="https://www.youtube.com/embed/AJjfpUODTVs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>;
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<iframe width="400" height="294" src="https://www.youtube.com/embed/M7pnuxkcLXo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<a class='btn btn-primary ' href="/">return home </a>
</body>
</html>
{% endblock %}
